#set($hasCreatedTime=false)
#set($hasUpdatedTime=false)
#set($hasTime=false)
#set($lastViewedTime=false)
#set($chainMessageLastViewedTime=false)
#foreach($field in $pojo.getAllPropertiesIterator())
#if($pojo.getMetaAttribAsBool($field, "gen-property", true))    
    #if($field.name.equals("createdTime"))
       #set($hasCreatedTime=true)
       #set($field.updateable=false)
    #end    
    #if($field.name.endsWith("Time"))
       #set($hasTime=true)
    #end    
    
    #if($field.name.endsWith("ViewedTime"))
    #set($lastViewedTime=true)
    #set($field.columnIterator.next().defaultValue = "baseTimestamp")
    #end
    
    #if($field.name.equals("updatedTime"))
        #set($hasUpdatedTime=true)
    #end
    
    #if($field.name.equals("source"))
        #set($field.columnIterator.next().defaultValue = "(short)0")
    #end
    
    #if($field.name.endsWith("Inc") || $field.name.equals("signinUuid") || $field.name.equals("count") || ($field.name.endsWith("Count") && !$field.name.startsWith("max")))
        #set($field.insertable=false)
        #set($field.updateable=false)
        #set($column=$field.columnIterator.next())
        #if($pojo.getJavaTypeName($field, $jdk5).equals("Long"))
        #set($column.defaultValue="0L")
        #else
        #set($column.defaultValue="0")
        #end
        
    #end
    
    #if($field.name.startsWith("lastMsgId"))
    #set($column=$field.columnIterator.next())
    #set($column.defaultValue="0L")
    #set($field.updateable=false)
    #end
    
    #if($field.name.equals("status"))
        #set($column=$field.columnIterator.next())
        #set($column.defaultValue="0")
    #end
  
#end
#end

#set($temp = $pojo.importType("java.util.List"))
#set($temp = $pojo.importType("java.util.ArrayList"))
#set($temp = $pojo.importType("org.apache.struts2.json.annotations.JSON"))